<h2>Contact Information</h2>

<p>Assuming I want to be found, here is some vague (totally legit), contact information</p>

<p>
  Topicy Topic Related Snarky Name
  123 Ilackideas Lane
  Legitopia, OR 97219
</p>

<p>(503) 888-8888</p>

<p>In case of emergency please send a pigeon with message attached out your nearest window</p>

{{#link-to 'about'}}About{{/link-to}}
