<h1>Welcome to the Gnarly Gecko Blog</h1>

<ul>
  {{#each model as |post|}}
     {{post-tile post=post destroyPost="destroyPost"}}
  {{/each}}
</ul>

{{new-post savePost2="savePost3"}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us{{/link-to}}
